<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ariol.Sport3go" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3go</name>
    <description>
        Спортивное приложение
    </description>
    <author email="info@ariol.by" href="http://ariol.by">
        Ariol
    </author>
    <content src="index.html" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#292929" />
    <preference name="orientation" value="portrait" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <allow-navigation href="*youtube*" />
    <allow-navigation href="*ytimg*" />
    <allow-navigation href="*"/>
    <universal-links>
        <host name="trigo-9f40e.app.goo.gl" scheme="https" />
        <host name="trigo-9f40e.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback"/>
        </host>
    </universal-links>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <param name="CAMERA_USAGE_DESCRIPTION" value="The app would like to access the camera when you attach photos to content." />
        <param name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="The app would like to access the photo library when you attach images to content." />
    </plugin>
    <plugin name="cordova-plugin-buildinfo" spec="~2.0.1" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="~0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.2.1" />
    <plugin name="cordova-plugin-customurlscheme" spec="~4.3.0">
        <variable name="URL_SCHEME" value="com.firebase.cordova" />
    </plugin>
</widget>
