/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

@font-face {
    font-family: MuseoSansCyrl500; /* Имя шрифта */
    src: url(../fonts/Museo_Sans_Cyrl_500.ttf); /* Путь к файлу со шрифтом */
}

.statusbar-overlay {
    background: #000000;
}

.navbar{
    background: #292929;
    color: white;
    height: 83px;
    box-shadow: 0 0 45px rgba(0,0,0,0.5);
}

.navbar:after {
    background-color: #292929;
}

a{
    color: white;
}

.report-box{
    margin-top:25px;
    margin-bottom: 25px;
}

.report-img{
    margin-top: 8px;
}

.page-content{
    background: url("../img/back.png") no-repeat fixed bottom;
    background-size: 100%;
    background-color: #303030;
}

.navbar-through .page-content{
    padding-top: 83px;
    padding-bottom: 0px;
}

.page {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #303030;
    background: url("../img/back.png") no-repeat fixed bottom;
}

.profile-box {
    font-family: MuseoSansCyrl500;
    padding:5px;
}

.profile-box-name{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0px;
}

.profile-box-text{
    font-size: 16px;
    color: grey;
    margin-top: 0px;
}

.camp-box{
    background-color: rgba(255,255,255,.1);
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.camp-date{
    color: grey;
}

.menu-box{
    margin-top:25px;
    width: 100%;
}

.menu-box-in{
    background-color: rgba(255,255,255,.1);
    border-radius: 10px;
    text-align: center;
    height: 40vw;
}

.menu-box-in-text{
    font-family: MuseoSansCyrl500;
    color: white;
    position: relative;
    bottom: 50px;
}

.menu-box-item{
    padding-top: 20%;
}

.menu-box TD{
    width: 50%;
    padding:5px;
}

.img_logo_big{
    height:35px;
    margin-right:5px;
}

.img_toolbar {
    margin-right: 30px;
}

.img_toolbar2{
    margin-right:30px;
}

h1{
    font-family: MuseoSansCyrl500;
    color: white;
}

h2{
    font-family: MuseoSansCyrl500;
    color: white;
    font-size:25px;
}

.h2{
    font-family: MuseoSansCyrl500;
    color: white;
    font-size:24px;
}

.start-img{
    margin-bottom: 10vh;
}


.left-menu-href{
    margin-bottom: 20px;
}

.report-left{
    position: relative;
    left: 10px;
    bottom:  8px;
}

.statistics_oval{
    position: relative;
    bottom: 3px;
    right: 5px;
    height: 7px;
}

.statistics_text{
    margin-top: 25px;
}

.statistics_btn{
    margin-top: 50px;
}

.btn-stat{
    border: 2px solid grey;
    color: grey;
    width: 90px !important;
}

.button.btn-stat.active{
    border-color: #fe2d88;
    background: none !important;
}

.btn-wizard.active-state{
    background: none !important;
}

.btn-wizard2.active-state{
    background: none !important;
}

.btn-wizard{
    width: 130px !important;
    border: 2px solid grey;
    color: grey;
}

.btn-wizard2{
    width: 100% !important;
    border: 2px solid grey;
    color: grey;
}

.button.btn-wizard.active{
    border-color: #fe2d88;
    background: none !important;
}

.button.btn-wizard2.active{
    border-color: #fe2d88;
    background: none !important;
}

.wizard-in-input-text{
    float: right;
    position: relative;
    top: 3px;
    right:15px;
}

.wizard-in-input-text2{
    float: left;
    position: relative;
    top: 4px;
    left:15px;
}

.wizard-in-input-text3{
    float: right;
    position: relative;
    top: 3px;
    width: 30px;
    right:35px;
}

.wizard-in-input-text4{
    float: left;
    position: relative;
    top: 4px;
    left:0px;
}

.wizard-table{
    width: 100%;
}

.wizard-table TD{
    width: 50%;
    padding:5px;
}


.wizard-dop-text{
    margin-left: 29px;
    margin-bottom: 5px;
}

.wiz-box{
    margin-bottom: 25px;
}

.wizard-input {
    background-color: transparent;
    border: none;
    color: white;
    height: 55px;
    float: left;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    bottom: 3px;
    left:15px;
}

.wizard-input2 {
    height: 55px;
    float: right;
    position: relative;
    bottom: 3px;
    right:15px;
}

.swiper-pagination {
    position: static;
}

.wizard-swip{
    margin-bottom: 30px;
    margin: 1px;
}


.swiper-pagination-bullet-active {
    background: #fe2d88;
}

.setting-text{
    font-family: MuseoSansCyrl500;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
}

.text-in{
    font-family: MuseoSansCyrl500;
    font-size: 17px;
    font-weight: bold;
}

.text-in2{
    font-family: MuseoSansCyrl500;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.text-in3{
    font-family: MuseoSansCyrl500;
    font-size: 16px;
    font-weight: bold;
}

.btn-border{
    border-radius: 15px !important;
}

.rous{
    background-color: #fe2d88 !important;
}

.button.button-big{
    height: 55px;
    font-weight: bold;
}

.btn-center{
   margin-top: 50px; position: relative;margin-left: auto;margin-right: auto;width:100%;font-family: MuseoSansCyrl500; font-weight: bold;
}

.img_chart_scale{
    position: relative;margin-left: auto;margin-right: auto;margin-top: 50px;width: 189px;
}

.img_chart_scale2{
    position: relative;margin-left: auto;margin-right: auto;margin-top: 50px;width: 189px;height: 350px;
}

.chart_scale{
    margin-top: 55px;
    font-family: MuseoSansCyrl500;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.first_oval{
    position: absolute;
    margin-top: -12px;
    margin-left: -10px;
    width: 210px;
    height: 210px;
    background: #303030;
    border-radius: 150px;
    z-index: -1;
}

.first_oval2{
    position: absolute;
    margin-top: -21px;
    margin-left: -20px;
    width: 230px;
    height: 230px;
    background: #6d6d72;
    border-radius: 150px;
    z-index: -5;
}

#skills{
    position: absolute;
    margin-top: -21px;
    margin-left: -19px;
    z-index: -2;
}

#skills2{
    position: absolute;
    margin-top: -23px;
    margin-left: -21.5px;
    z-index: -3;
}

#skills3{
    position: absolute;
    margin-top: -26.5px;
    margin-left: -22.8px;
    z-index: -4;
}

.chart_scale_time{
    position: absolute;
    left:70px;
    top:30px;
}

.chart_scale_time2{
    position: absolute;
    left:50px;
    top:150px;
    font-weight: bold;
    color: white;
    font-size: 19px;
}

.oval{
    position: absolute;
    z-index: -100;
    left: -35px;
    top: -45px;
    bottom: 0px;
    background-color: #fe2d88;
    height: 150px;
    width: 150px;
    border-radius: 150px;
}

.last_slide_text{
    width: 100%;
    text-align: center;
}

.chart_scale_hour{
    font-family: MuseoSansCyrl500;
    font-weight: bold;
    color: white;
    font-size: 50px;
    position: relative;
    top: 17px;
}

.chart_scale_hour_text{
    font-family: MuseoSansCyrl500;
    font-weight: bold;
    color: white;
    font-size: 14px;
    position: relative;
    left: 7px;
}

.setting-check-in{
    position: relative;
    right: 50px;
    top: 10px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: #4b4b4b;
    border-radius: 8px;
    content: '';
    height: 18px;
    margin-top: -8px;
    position:absolute;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: #fe2d88;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 18px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: 0px;
    transition: all 0.3s ease-in-out;
    width: 18px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    opacity: 1;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    left: 30px;
    background: white;
}

.on1-img{
    width:100%;
}

.content-block {
    padding: 0 35px;
}

.camps-text{
    margin-bottom: 25px;
}


.sport-block{
    margin-top: 15px;
    margin-bottom: 35px;
}

.sport-block2{
    margin-bottom: 12px;
}

.sport-block3{
    margin-top: 55px;
    margin-bottom: 25px;
}

.img_oval{
    position: relative;
    left: 15px;
}

.slider.slider-horizontal {
    width: 100%;
    background: linear-gradient(to right, green, yellow, orange, red);
    border-radius: 15px;
    height:12px;
}

.slider-handle {
    background-color: white;
    background-image: none;
    width: 28px;
    height: 28px;
    top: -8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slider.slider-horizontal .slider-track {
    width: 0;
    top: 0;
}

.report-box-in{
    margin-bottom: 25px;
}

.report-box-text{
    margin-bottom: 10px;
}

.popup{
    background: url(../img/back.png) no-repeat fixed bottom;
    background-size: 100%;
    background-color: #303030;
}

.popup.content-block {
    padding: 0 15px;
}


/* Customize the label (the container) */
.container {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 13.5px;
    right: 20px;
    height: 20px;
    width: 20px;
    border: 2px solid grey;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: none;
}

.btn-wizard2:hover{
    border-color: #fe2d88;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: none;
    border-color: white;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wizard-table .button .container .checkmark{
    right: 10px;
}

.toolbar.calendar-custom-toolbar{
    background: none;
}

.toolbar.calendar-custom-toolbar .toolbar-inner{
    color: white;
}

.picker-calendar-day{
    color: white;
}

.picker-calendar-row:after{
    height: 0px;
}

.picker-calendar-day.picker-calendar-day-prev {
    color: grey;
}

.picker-calendar-day span {
    border-radius: 0px;
}

.picker-calendar-day.picker-calendar-day-selected span {
    background: #4f4e4e;
    color: #fff;
    border: 2px solid #fe2d88;
    border-radius: 10px;
}

#calendar-inline-container{
    border: 2px solid grey;
    color: grey;
    border-radius: 10px;
}

.list-block .item-inner:after{
    height: 0px;
}

.smart-select{
    border: 2px solid grey;
    color: grey;
    border-radius: 10px;
}

.list-block .item-link .item-inner {
    background-image: none;
}

.smart-select-arrow-bottom {
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
    transform: rotate(90deg);
    height: 20px;
    width: 10px;
}

.smart-select-arrow-left {
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
    height: 20px;
    transform: rotate(180deg);
    width: 10px;
}

.smart-select-arrow-right{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
    height: 20px;
    width: 10px;
}

.picker-calendar-day.picker-calendar-day-today span {
    background: none;
}

.list-block ul {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.pulse {
    position:absolute;
    top: 55px;
    left: -35px;
    width:250px;
    height:250px;
    border-radius:500px;
    background:#fe2d88;
    -webkit-animation: pulsating 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity:0.0
    z-index:5;
}

.ringbase {
    position:absolute;
    top: 55px;
    left: -35px;
    width:250px;
    height:250px;
    border-radius:500px;
    opacity:0.0
    z-index:10;
}

.ring1 {
    box-shadow:0 0 2px 1px #fe2d88, inset 0 0 2px 1px #fe2d88;
    -webkit-animation: ring 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

.ring2 {
    box-shadow:0 0 1px 0px #fe2d88, inset 0 0 1px 0px #fe2d88;
    -webkit-animation: ring 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.5s;
}

@-webkit-keyframes pulsating {
    0% {opacity: 0.0;}
    50% {opacity: 0.2;}
    100% {opacity: 0.0;}
}

@-webkit-keyframes ring {
    0% {-webkit-transform: scale(0.4, 0.4); opacity: 0.0;}
    50% {opacity: 0.6;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
}



.grey{
    background-color: grey !important;
}

.f7-icons{
    position: relative;
    top: 8px;
}

.left{
    left: 5px;
    float: left;
}

.right{
    right: 5px;
    float: right;
}

.btn-wizard-arrow{
    width: 100%;
    display: none;
    text-align: center;
}

.wizard-bottom-btn{
    display: inline-block;
    width: 45%;
}

.prew_swip{
    float: left;
}

.next_swip{
    float: right;
}


@media (max-width: 320px){
.content-block {
    padding: 0 15px;
}
}
